* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit";

  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.card {
  width: 250px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

img {
  margin: 10px;
  border-radius: 15px;
}
.card-title {
  margin: 15px;
}
.card-title p,h3 {
  text-align: center;
  margin-bottom: 20px;
}
